<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.func.mapper.TempDeptStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.func.entity.TempDeptStatistics">
        <id column="deptid" property="deptid" />
        <result column="deptname" property="deptname" />
        <result column="person_count" property="personCount" />
        <result column="all_scores" property="allScores" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       deptid, deptname, person_count, all_scores
    </sql>

    <select id="selectTempDeptStatisticsList" resultType="com.kalvin.kvf.modules.func.entity.TempDeptStatistics">
        select <include refid="Base_Column_List" /> from func_temp_dept_statistics
        <trim prefix="where" prefixOverrides="and">
            <if test="tempDeptStatistics.deptname != null and tempDeptStatistics.deptname != ''">
                and deptname like concat(#{tempDeptStatistics.deptname}, "%")
            </if>
            <if test="tempDeptStatistics.personCount != null">
                and person_count = #{tempDeptStatistics.personCount}
            </if>
            <if test="tempDeptStatistics.allScores != null">
                and all_scores = #{tempDeptStatistics.allScores}
            </if>
        </trim>
    </select>

</mapper>
