<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.func.mapper.WxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.func.entity.WxUser">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="headimgurl" property="headimgurl" />
        <result column="privilege" property="privilege" />
        <result column="unionid" property="unionid" />
        <result column="person_type" property="personType" />
        <result column="company_name" property="companyName" />
        <result column="tel" property="tel" />
        <result column="qrcode" property="qrcode" />
        <result column="parent_invited_code" property="parentInvitedCode" />
        <result column="invited_code" property="invitedCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tgrs" property="tgrs" />
        <result column="jf" property="jf" />
        <result column="calculate" property="calculate" />
        <result column="root_invited_code" property="rootInvitedCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, openid, nickname, sex, province, city, country, headimgurl, privilege, unionid, person_type, company_name, tel, qrcode, parent_invited_code, invited_code,
       create_time, update_time,calculate,tgrs,jf,root_invited_code,is_price
    </sql>

    <select id="selectWxUserList" resultType="com.kalvin.kvf.modules.func.entity.WxUser">
        select <include refid="Base_Column_List" /> from func_wx_user
        <trim prefix="where" prefixOverrides="and">
            <if test="wxUser.id != null and wxUser.id != ''">
                and id = #{wxUser.id}
            </if>
            <if test="wxUser.openid != null and wxUser.openid != ''">
                and openid like concat(#{wxUser.openid}, "%")
            </if>
            <if test="wxUser.nickname != null and wxUser.nickname != ''">
                and nickname like concat("%", #{wxUser.nickname}, "%")
            </if>
            <if test="wxUser.sex != null">
                and sex = #{wxUser.sex}
            </if>
            <if test="wxUser.province != null and wxUser.province != ''">
                and province like concat(#{wxUser.province}, "%")
            </if>
            <if test="wxUser.city != null and wxUser.city != ''">
                and city like concat(#{wxUser.city}, "%")
            </if>
            <if test="wxUser.country != null and wxUser.country != ''">
                and country like concat(#{wxUser.country}, "%")
            </if>
            <if test="wxUser.headimgurl != null and wxUser.headimgurl != ''">
                and headimgurl like concat(#{wxUser.headimgurl}, "%")
            </if>
            <if test="wxUser.privilege != null and wxUser.privilege != ''">
                and privilege like concat(#{wxUser.privilege}, "%")
            </if>
            <if test="wxUser.unionid != null and wxUser.unionid != ''">
                and unionid like concat(#{wxUser.unionid}, "%")
            </if>
            <if test="wxUser.personType != null and wxUser.personType != ''">
                and person_type = #{wxUser.personType}
            </if>
            <if test="wxUser.companyName != null and wxUser.companyName != ''">
                and company_name like concat("%", #{wxUser.companyName}, "%")
            </if>
            <if test="wxUser.rootInvitedCode != null and wxUser.rootInvitedCode != ''">
                and root_invited_code like concat("%", #{wxUser.rootInvitedCode}, "%")
            </if>
            <if test="wxUser.parentInvitedCode != null and wxUser.parentInvitedCode != ''">
                and parent_invited_code like concat("%", #{wxUser.parentInvitedCode}, "%")
            </if>
            <if test="wxUser.invitedCode != null and wxUser.invitedCode != ''">
                and invited_code like concat("%", #{wxUser.invitedCode}, "%")
            </if>
            <if test="wxUser.tel != null and wxUser.tel != ''">
                and tel like concat(#{wxUser.tel}, "%")
            </if>
            <if test="wxUser.telnull == 1">
                and (tel is null or tel = '')
            </if>
            <if test="wxUser.invitedCode != null and wxUser.invitedCode != ''">
                and invited_code like concat(#{wxUser.invitedCode}, "%")
            </if>
            <if test="wxUser.startdate != null">
                and create_time &gt;= #{wxUser.startdate}
            </if>
            <if test="wxUser.enddate != null">
                and create_time &lt;= #{wxUser.enddate}
            </if>
            <if test="wxUser.tgrsMin != null">
                and tgrs &gt;= #{wxUser.tgrsMin}
            </if>
            <if test="wxUser.tgrsMax != null">
                and tgrs &lt;= #{wxUser.tgrsMax}
            </if>
        </trim>
        order by create_time desc
    </select>

    <select id="drawWxUserList" resultType="com.kalvin.kvf.modules.func.entity.WxUser">
        select <include refid="Base_Column_List" /> from func_wx_user
        <trim prefix="where" prefixOverrides="and">
            <if test="wxUser.personType != null and wxUser.personType != ''">
                and person_type = #{wxUser.personType}
            </if>
            <if test="wxUser.rootInvitedCode != null and wxUser.rootInvitedCode != ''">
                and root_invited_code like concat("%", #{wxUser.rootInvitedCode}, "%")
            </if>
            <if test="wxUser.telnull == 1">
                and ( tel is not null and tel != '')
            </if>
            <if test="wxUser.telnull == 2">
                and ( tel is null or tel = '')
            </if>
            <if test="wxUser.jf != null">
                and tgrs >= #{wxUser.jf}
            </if>
            <if test="wxUser.isPrice == 0">
                and is_price = 0
            </if>
            <if test="wxUser.startdate != null">
                and create_time &gt;= #{wxUser.startdate}
            </if>
            <if test="wxUser.enddate != null">
                and create_time &lt;= #{wxUser.enddate}
            </if>
        </trim>
        order by RAND()
        limit #{wxUser.tgrs}
    </select>

    <select id="luckWxUserList" resultType="com.kalvin.kvf.modules.func.entity.WxUser">
        select S1.* from func_wx_user S1
        right join func_luck_wxuser S2
        on  S1.id = S2.wx_id
--      推广人数的实际值是抽奖记录id,后端已有设置
        <trim prefix="where" prefixOverrides="and">
            and S2.luck_id = #{wxUser.tgrs}

            <if test="wxUser.personType != null and wxUser.personType != ''">
                and S1.person_type = #{wxUser.personType}
            </if>
            <if test="wxUser.nickname != null and wxUser.nickname != ''">
                and S1. nickname like concat("%", #{wxUser.nickname}, "%")
            </if>
            <if test="wxUser.tel != null and wxUser.tel != ''">
                and S1.tel like concat(#{wxUser.tel}, "%")
            </if>
        </trim>
    </select>

    <!-- 更新审批表-->
    <update id="updWxInfo" parameterType="com.kalvin.kvf.modules.func.entity.WxUser">
        UPDATE func_wx_user
        SET
        person_type = #{wxUser.personType},
        company_name = #{wxUser.companyName},
        tel = #{wxUser.tel},
        update_time = #{wxUser.updateTime}
        where  openid = #{wxUser.openid}
    </update>
</mapper>
