<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>镇街道推广人数统计</title>

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/vue.min.js" type="text/javascript"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        li {
            list-style: none;
            height: 40px;
            line-height: 40px;
        }

    </style>
</head>
<body style="background-color: bisque">
<div id="news" style="margin: 10px;    padding-top: 10px;background-color: white;height: 96%;border-radius: 8px">
    <p style="position: relative;padding: 10px;font-size: 18px;font-weight: 800;">总共推广<span>{{deptRank.allCount}}</span>人，今日推广<span>{{deptRank.allCount - deptRank.todayCount}}人</span>
    </p>
    <ul style="margin-top: 10px">
        <li>
            <div style="float: left; width: 20%;text-align: center;font-size: 20px;font-weight: 500;color: #d84f4b;">排名</div>
            <div style="float: left; width: 40%;text-align: center;font-size: 20px;font-weight: 500;color: #d84f4b;">镇街道</div>
            <div style="float: left; width: 20%;text-align: center;font-size: 20px;font-weight: 500;color: #d84f4b;">总数</div>
            <div style="float: left; width: 20%;text-align: center;font-size: 20px;font-weight: 500;color: #d84f4b;">今日</div>
        </li>
        <li v-for="(item,index) in deptRank.tempDeptStatisticsVos">
            <div v-if="index == 0" style="float: left; width: 20%;text-align: center;height: 40px;"><img
                    src="image/logo/冠军.png" width="32" style="vertical-align: middle;"></div>
            <div v-else-if="index == 1" style="float: left; width: 20%;text-align: center;height: 40px;"><img
                    src="image/logo/亚军.png" width="32" style="vertical-align: middle;"></div>
            <div v-else-if="index == 2" style="float: left; width: 20%;text-align: center;height: 40px;"><img
                    src="image/logo/季军.png" width="32" style="vertical-align: middle;"></div>
            <div v-else style="float: left; width: 20%;text-align: center;">{{index+1}}</div>


            <div style="float: left; width: 40%;text-align: center;font-weight: 600">{{item.deptname}}</div>
            <div style="float: left; width: 20%;text-align: center;font-size: 20px;font-weight: 500">
                {{item.personCount}}
            </div>
            <div style="float: left; width: 20%;text-align: center;font-size: 20px;font-weight: 500">
                {{item.personCount - item.lastdayDeptStatistics.personCount}}
            </div>
        </li>
    </ul>
</div>
<script>
    var news = new Vue({
        el: '#news',
        data: {
            deptRank: {}
        }
    });

    getDeptrank();

    function getDeptrank() {
        $.ajax({
            url: "http://abcdef.vaiwan.com/func/tempDeptStatistics/getDeptRank",
            type: "get",
            dataType: "json",
            success: function (r) {
                news.deptRank = r.data;
            },
            error: function (data) {
                alert(JSON.stringify(data));
            }
        });
    }
</script>
</body>
</html>