<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>

</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">人员类别</label>
                                    <div class="layui-input-inline">
                                        <select class="layui-select" name="personType">
                                            <option value="">请选择</option>
                                            <option value="1">小区居民</option>
                                            <option value="2">企业员工</option>
                                            <option value="3">沿街店面</option>
                                            <option value="4">商场商铺</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">昵称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="nickname" placeholder="请输入昵称" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">电话号码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="tel" placeholder="请输入电话号码" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <button class="layui-btn" type="reset" data-event="refresh">
                                        <i class="layui-icon layui-icon-refresh-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<!--头部工具栏模板-->
<script type="text/html" id="headToolbarTpl">
    <button class="layui-btn" lay-event="export"><i class="iconfont icon-export"></i> 导出</button>
</script>

<script type="text/html" id="sexTpl">
    {{#  if(d.sex == 1){ }}
    <span class="layui-badge layui-bg-blue">男</span>
    {{#  } else if(d.sex == 2) { }}
    <span class="layui-badge">女</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>

<script type="text/html" id="personTypeTpl">
    {{#  if(d.personType == 1){ }}
    <span>小区居民</span>
    {{#  } else if(d.personType == 2) { }}
    <span>企业员工</span>
    {{#  } else if(d.personType == 3) { }}
    <span>沿街店面</span>
    {{#  } else if(d.personType == 4) { }}
    <span>商场商铺</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>

<script type="text/html" id="timeTpl">
    <span>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</span>
</script>

<script type="text/html" id="time1Tpl">
    <span>{{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}</span>
</script>
<script>
    var luckid = [[${luckid}]];
</script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate'], function () {
        var form = layui.form, layer = layui.layer, table = layui.table,
            laydate = layui.laydate, elemet = layui.element;

        var tableId = 'kContentTable';
        var area = ['449px', '95%'];

        //常规用法
        laydate.render({
            elem: '#startdate'
        });

        laydate.render({
            elem: '#enddate'
        });

        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            , url: BASE_WEB + 'func/luckDraw/list/data/' + luckid // 数据接口
            // , toolbar: '#headToolbarTpl'
            , height: 'full-220' //距离底部高度
            , cols: [[ //表头
                 {field: 'id', title: 'id', width: 130, align: 'center'}
                , {field: 'nickname', title: '昵称', width: 130, align: 'center'}
                , {field: 'sex', title: '性别', width: 130, templet: '#sexTpl', align: 'center'}
                , {field: 'province', title: '省份', width: 130, align: 'center'}
                , {field: 'city', title: '城市', width: 130, align: 'center'}
                , {
                    field: 'personType',
                    title: '人员类型',
                    sort: true,
                    width: 130,
                    templet: '#personTypeTpl',
                    align: 'center'
                }
                , {field: 'companyName', title: '单位名称', sort: true, width: 130, align: 'center'}
                , {field: 'tel', title: '电话号码', width: 130, align: 'center'}
                , {field: 'createTime', title: '注册时间', width: 200, templet: "#timeTpl", align: 'center'}
            ]]
        }));

        // 监听表格头部事件
        table.on('toolbar(' + tableId + ')', function (obj) {
            switch (obj.event) {
                case 'export':
                    //使用ajax请求获取所有数据
                    $.ajax({
                        url: BASE_WEB + 'func/luckDraw/export/data/' + luckid, // 数据接口,
                        type: 'get',
                        data: obj.field,
                        async: false,
                        dataType: 'json',
                        success: function (res) {
                            //使用table.exportFile()导出数据
                            console.log(res.data);
                            table.exportFile(tableIns.config.id, res.data, 'xls');
                        }
                    });
                    break;
            }
        });

        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            if ($('#telnull').prop("checked")) {
                obj.field.telnull = 1;
            } else {
                obj.field.telnull = 0;
            }

            renderTableData(obj.field);
            return false;
        });

        var active = {
            refresh: function () {
                var $form = $('form');
                $form[0].reset();
                renderTableData(kvfKit.getFormJson($form));
            }
        };

        kvfKit.activeInit(active);

        function renderTableData(params) {
            params = params ? params : {};
            tableIns.reload({
                where: params,
                page: {curr: 1}
            });
        }

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();
    });

    function previewImg(obj) {
        var img = new Image();
        img.src = obj.src;
        //var height = img.height + 50; // 原图片大小
        //var width = img.width; //原图片大小
        var imgHtml = "<img src='" + obj.src + "' width='500px' height='500px'/>";
        //弹出层
        layer.open({
            type: 1,
            shade: 0.8,
            offset: 'auto',
            area: [500 + 'px', 550 + 'px'],  // area: [width + 'px',height+'px']  //原图显示
            shadeClose: true,
            scrollbar: false,
            title: "图片预览", //不显示标题
            content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function () {
                //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
            }
        });
    }
</script>

</body>
</html>